.recipe-details-box {
  flex: 1;
  padding: 32px 24px;
  overflow-y: auto;
  margin-top: 70px;
}

.back-to-discover-btn {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 5px 12px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  font-size: 13px;
  cursor: pointer;
  transition: 0.2s ease;
}

.back-to-discover-btn img {
  width: 15px;
}

.back-to-discover-btn:hover {
  transform: translateY(-2px);
}

/* COL 1 - Recipe Image and Details */

.col-1 {
  display: flex;
  gap: 40px;
  margin-top: 20px;
}

.recipe-image-box img {
  min-width: 450px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.recipe-details-content {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.recipe-details-content h1 {
  color: #f97450;
}

.recipe-information {
  color: #8b8b8b;
  font-size: 1.2rem;
}

.recipe-info-icon-container {
  display: flex;
  gap: 18px;
  font-size: 13px;
  color: #515151;
  margin-bottom: 8px;
  font-weight: 500;
}

.recipe-info-icon {
  width: 27px;
  margin-right: 4px;
  vertical-align: middle;
}

.recipe-author {
  color: #878787;
}

.recipe-author strong {
  color: black;
  font-weight: 500;
}

/* INGREDIENTS CARD */

.col-2 {
  display: flex;
  gap: 40px;
}

.ingredients-wrapper {
  margin-top: 20px;
}

.ingredients-wrapper-title {
  font-size: 1.8rem;
  font-weight: 600;
}

.ingredients-card {
  background-color: #f4f4f4;
  max-width: 450px;
  min-width: 450px;
  padding: 10px;
  border-radius: 8px;
  margin-top: 20px;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: #ff7b54;
  border-radius: 50%;
  display: inline-block;
  margin-right: 15px;
}

/* INSTRUCTIONS CARD */

.instructions-wrapper {
  margin-top: 20px;
}

.instructions-wrapper-title {
  font-size: 1.8rem;
  font-weight: 600;
}

.instructions-card {
  display: flex;
  background-color: #f4f4f4;
  margin-top: 20px;
  padding: 20px;
  gap: 15px;
  max-width: 450px;
  min-width: 450px;
  border-radius: 7px;
  align-items: flex-start; /* changed from center */
}

.instructions-num {
  background-color: #ff7b54;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  flex-shrink: 0;
  margin-top: 2px;
}
