@import url("https://fonts.googleapis.com/css2?family=Playball&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Reem+Kufi:wght@400..700&display=swap");

* {
  font-family: Poppins;
  margin: 0;
  box-sizing: border-box;
}

.registration-page {
  background-color: #ffefea;
  display: flex;
  min-height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.registration-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 50px 100px;
  border-radius: 20px;
  gap: 25px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  margin-top: 4%;
  max-width: 100%;
}

.left-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.poster {
  width: 350px;
  margin-bottom: 20px;
}

.sub-tagline {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  font-size: 1.3rem;
}

.tagline {
  font-family: Playball;
  font-size: 3.5rem;
  font-weight: 500;
}

.sub-tag-hr {
  width: 150px;
  border: 1px solid #f97450;
}

.taglines-wrapper {
  width: 340px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.logo-name-registration {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

.logo2 {
  width: 35px;
}

.website-name2 {
  font-weight: bold;
  font-size: 25px;
  background: linear-gradient(90deg, #f97450, #f8d492);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.right-section {
  width: 350px;
}

.partition {
  width: 1px;
  height: 650px;
  border: none;
  border-left: 2px solid #bebebe;
  margin: 0 40px;
}

.title {
  margin-bottom: 25px;
}

.title h1 {
  font-size: 2.2rem;
  font-weight: 600;
}

.title p {
  color: #777;
  font-size: 0.95rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
  width: 100%;
}

form div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-inputs input {
  padding: 12px 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 15px;
  font-weight: 500;
  background-color: #f5fcf5;
}

.form-inputs label {
  font-size: 15px;
  font-weight: 500;
}

.sign-up-button {
  background: linear-gradient(to right, #f97450, #ffae5c);
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 1.1rem;
  padding: 12px;
  font-weight: 500;
  margin-top: 15px;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 100%;
}

.sign-up-button:hover {
  box-shadow: 0 6px 15px rgba(249, 116, 80, 0.3);
  transform: translateY(-2px);
}

.link-to-login {
  text-align: center;
  font-size: 14px;
  margin-top: 15px;
  color: #555;
}

.link-to-login span {
  color: #f97450;
  cursor: pointer;
  transition: 0.3s ease;
  font-weight: 500;
  margin-left: 5px;
}

.link-to-login span:hover {
  text-decoration: underline;
}

.error {
  text-align: center;
  font-size: 12px;
  color: rgb(255, 65, 65);
}

@media (max-width: 992px) {
  .left-section,
  .partition {
    display: none;
  }

  .registration-page {
    align-items: flex-start;
    padding-top: 12vh;
  }

  .registration-wrapper {
    padding: 40px 25px;
    width: 100%;
    max-width: 450px;
    margin-top: 0;
    flex-direction: column;
  }

  .right-section .title h1,
  .right-section .title p {
    text-align: center;
  }

  .right-section {
    width: 100%;
  }
}
